@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";

.loginFormcard {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url(logbg.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  color: red;
}

.loginForm-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loginFormcard h1 {
  float: left;
  font-size: 40px;
  border-bottom: 6px solid black;
  color: red;
  margin-bottom: 50px;
  padding: 13px 0px;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid black;
}

.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid black;
  color: black;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
.fa-user {
  color: black;
}

.fa-lock {
  color: black;
}
