<mat-card class="loginFormcard">
  <mat-card-content>
    <div class="col-12">
      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">
          {{authError?.message}}
        </div>
      </div>
    <div class="loginForm-box">
      <h1>iContract</h1>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username" name="" value="">
      </div>
      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" name="" value="">
      </div>
      <input class="btn" (click)="SignIn(user)" type="button" name="" value="Sign In">
      <input class="btn" type="button" name="" routerLink="/register" value="Register">
    </div>
    </div>
  </mat-card-content>

</mat-card>
