<mat-card>
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Team</span>
      <span class="example-spacer"></span>

        <input id="config-entries-filter-input" matInput placeholder="Filter" #input [(ngModel)]='filterResults'
               (ngModelChange)="onKeyTextFilter($event)" >
      <mat-icon >search</mat-icon>

      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>


  <mat-card-content>
    <br>
    <div class="btn-toolbar">
      <button  mat-raised-button routerLink="/contract-approval" style="margin-right:5px">Approve</button>
      <button mat-raised-button routerLink="/contract-upload" >Upload</button>
   </div>
    <br>

  </mat-card-content>
</mat-card>
