<mat-card class="loginFormcard">
  <mat-card-content>
    <div class="loginForm-box">
      <h1>iContract</h1>
      <div class="textbox">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username" name="" value="">
      </div>
      <div class="textbox">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" name="" value="">
      </div>
      <input class="btn" type="button" name="" routerLink="/dashboard" value="Sign In">
      <input class="btn" type="button" name="" routerLink="/register" value="Register">
    </div>
  </mat-card-content>

</mat-card>
